[submodule "packages/nerd-svg-icons"]
	path = packages/nerd-svg-icons
	url = https://github.com/liushihao456/nerd-svg-icons.git
[submodule "packages/company-tip"]
	path = packages/company-tip
	url = https://github.com/liushihao456/company-tip.git
[submodule "packages/emacs-mini-modeline"]
	path = packages/emacs-mini-modeline
	url = https://github.com/liushihao456/emacs-mini-modeline.git
[submodule "packages/symbols-outline"]
	path = packages/symbols-outline
	url = https://github.com/liushihao456/symbols-outline.el.git
