.DS_Store
recentf
*.local
projectile.cache
projectile-bookmarks.eld
eshell/
.python-environments/
workspace/
auto-save-list/
irony/
.mc-lists.el
.last-package-update-day
elpa/
srecode-map.el
.cache/
request/
.cask/
ac-comphist.dat
/abbrev_defs
/bookmarks
backups/
/.lsp-session-v1
eclipse.jdt.ls/
url/
pyim/
games/
